<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/habitaciones.css">
    <link rel="Icon" href="../assets/img/hotelia campana.svg">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Habitacion</title>
</head>
<body>
    <header>
        <div class="menu-lateral">
            <div class="logo-user">
                <div class="logo">
                    <img src="../assets/img/hotelia campana.svg" alt="logo-empresa">
                </div>

                <div class="user">
                    <div class="foto">
                        <img src="../assets/img/opiniones/user1.png" alt="Diego">
                    </div>
                    <div class="name">
                        <h1>
                            Diego Rodriguez
                        </h1>
                        <p>
                            diegorodriguez123@gmail.com
                        </p>
                    </div> 
                </div>
            </div>

            <div class="options__menu">	

                <a href="habitaciones.html" class="selected">
                    <div class="option">
                        <i class="fa-solid fa-bed" title="Habitaciones"></i>
                        <h4>Habitaciones</h4>
                    </div>
                </a>

                <a href="registerhabitaciones.html" class="selected">
                    <div class="option">
                        <i class="fa-solid fa-bed" title="Registrar Habitaciones"></i>
                        <h4>Registrar Habitaciones</h4>
                    </div>
                </a>

                <a href="consultahabitaciones.html" class="selected">
                    <div class="option">
                        <i class="fa-solid fa-bed" title="Buscar Habitaciones"></i>
                        <h4>Buscar Habitaciones</h4>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-bell-concierge" title="Reservas"></i>
                        <h4>Mis Reservas</h4>
                    </div>
                </a>
                
                <a href="dashboard.html">
                    <div class="option">
                        <i class="fa-solid fa-pencil" title="Editar Perfil"></i>
                        <h4>Editar Perfil</h4>
                    </div>
                </a>

            </div>

            <div class="sali">
                <a href="../index.html" class="op">
                    <div class="option1">
                        <i class="fa-solid fa-arrow-right-from-bracket" title="Cerrar Sesion"></i>
                        <h4>Cerrar Sesion</h4>
                    </div>
                </a>
            </div>
        </div>
    </header>
    
    <main>
        <h1>
            Habitaciones
        </h1>

        <div class="cate_esta">
            <div class="cate">
                <div class="tipo">
                    <label for="tipo">Categorías</label>
                    <select id="opciones" name="opciones">
                        <option value="opcion1">Todas</option>
                        <option value="opcion2">Grande</option>
                        <option value="opcion3">Mediana</option>
                        <option value="opcion4">Pequeña</option>
                    </select>
                </div>
                
                <div class="tipo">
                    <label for="number">Estado</label>
                    <select id="opciones" name="opciones">
                        <option value="opcion1">Todas</option>
                        <option value="opcion2">Activas</option>
                        <option value="opcion3">En proceso</option>
                        <option value="opcion4">Inactivas</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="cards">

            <div class="card">
                <div class="card-img">
                    <p>Habitacion doble</p>
                </div>

                <h3>$128.000</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt numquam iste in unde, labore laudantium eum
                </p>

                <div class="btn_r">
                    <button>Modificar</button>
                    <button class="active">Inactivo</button>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <p>Habitacion doble</p>
                </div>

                <h3>$128.000</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt numquam iste in unde, labore laudantium eum
                </p>

                <div class="btn_r">
                    <button>Modificar</button>
                    <button class="active">Inactivo</button>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <p>Habitacion doble</p>
                </div>

                <h3>$128.000</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt numquam iste in unde, labore laudantium eum
                </p>

                <div class="btn_r">
                    <button>Modificar</button>
                    <button class="active">Inactivo</button>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <p>Habitacion doble</p>
                </div>

                <h3>$128.000</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt numquam iste in unde, labore laudantium eum
                </p>

                <div class="btn_r">
                    <button>Modificar</button>
                    <button class="active">Inactivo</button>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <p>Habitacion doble</p>
                </div>

                <h3>$128.000</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt numquam iste in unde, labore laudantium eum
                </p>

                <div class="btn_r">
                    <button>Modificar</button>
                    <button class="active">Inactivo</button>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <p>Habitacion doble</p>
                </div>

                <h3>$128.000</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt numquam iste in unde, labore laudantium eum
                </p>

                <div class="btn_r">
                    <button>Modificar</button>
                    <button class="active">Inactivo</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>